/* Base styles for Desktop Design */
/* HTML Background Styling */
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f26c4f;
  color: #333;
  text-align: center;
}
  
/* Form Header and Word Styling */
.Header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../Images/spices-black-background-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 80px;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  align-self: center;
  margin: 20px;
  overflow:hidden;
  box-shadow: 5px 10px 20px rgb(255, 55, 55);
  margin-bottom: 30%;
}

h1 {
  padding: 20px;
  font-weight: bold;
  text-shadow: 5px 5px 20px rgb(255, 55, 55);
}

p {
  margin-top: 10px;   
  text-shadow: 5px 5px 20px rgb(255, 55, 55);;
}

button {
  background-color: #ffa18c;
  color: #fff;
  border: 2px solid #fff;
  margin: 10px; /* Adjust the margin as needed */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
  background-color: #ff2600;
}

/*General Form Container styling */
#Form {
  background-color: #ffc68e;
  border-radius: 10px;
  padding: 20px;
  margin: 80px;
  box-shadow: 20px 20px 20px 10px rgb(126, 62, 62);
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 105vh;
  max-width: 100%; /* Ensure it doesn't overflow the viewport */
  overflow: hidden;
}
  
form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;  
  flex-direction: column;
}
  
/* Form label and input field styling */
label {
  display: block;
  font-weight: bold;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #a50000;
}
  
input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #ff6262;
  border-radius: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: crimson;
  background-color: #ffe0e0;
  overflow: hidden;
}

/* submit button styling */
.button-container {
  text-align: center;
}

input[type="submit"] {
  background-color: #ffa18c;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
  align-self: flex-start;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 5px 5px 20px #000000;
}
  
/* Animation for submit button */
input[type="submit"]:hover {
  background-color: #ff2600;
  animation: buttonPulse 0.5s infinite alternate;
  box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.5),0 17px 50px 0 rgba(255, 0, 0, 0.5);
  transition: all 200ms ease-in-out;
}
  
@keyframes buttonPulse {
  0% {
    transform: scale(1);
  }

  100% {
  transform: scale(1.2);
  }
}
  
/* Media queries */
@media (max-width: 767px){
  .Header {
    padding: 40px;
    width: 100%;
    margin: 10px;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  body {
    text-align: center;
  }

  .Header {
    max-width: 100%;
    height: auto;
    padding: 50px;
    width: 50%;
    align-self: center;
    margin: 20px;
  }  

  h1{
    font-size:28px;
    width: 90%;
    text-rendering: optimizeLegibility;
    padding: 16px;
  }

  p {
    font-size: 12px;
    margin-top: 8px;   
    text-rendering: optimizeLegibility;
  }

  form {
    max-width: 400px;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    display: flex;  
    flex-direction: column;
  }
}
  
@media (min-width: 1024px) {
  body {
    text-align: center;
  }

  .Header {
    padding: 80px;
    width: 100%;
    align-self: center;
    margin: 20px;
  }  

  h1 {
    font-size: 36px;
    width: 100%;
    text-rendering: optimizeLegibility;
    padding: 20px;
  }

  p {
    font-size: 18px;  
    margin-top: 9px;   
    text-rendering: optimizeLegibility;
  }

  form {
    max-width: 600px;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    display: flex;  
    flex-direction: column;
  }     
}
